    
    <%- include('../header') %>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Nhân viên</h5>
                        <% if (error && error != '' && error.length > 0) { %>

                            <div class="alert alert-block alert-danger active">
                                <p><%= error %></p>
                            </div>
    
                        <% } %> 
                        <% if (success && success != '' && success.length > 0) { %>
    
                            <div class="alert alert-block alert-success active">
                                <p><%= success %></p>
                            </div>
    
                        <% } %> 
                    </div>
                   
                    <div class="card-body">
                        <div>
                            <a href="/nhanlaptop-admin/staff/create" class="btn btn-primary mb-2">Thêm nhân viên</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã User</th>
                                    <th>Email</th>
                                    <th>Họ và tên</th>
                                    <th>Quyền</th>
                                    <th>Tình trạng</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data.length > 0) {  %>

                                <%    let role = ['Khách hàng', 'Chưa có', 'Nhân viên'] %>
                                
                                <%    data.forEach((item, index) => { %>

                                        <tr>
                                            <td class="text-center"><%= ++index %> </td>
                                            <th><%= item['user_id'] %></th>
                                            <td><%= item['email'] %></td>
                                            <td><%= item['full_name'] %></td>
                                            <td><%= role[item['role']] %></td>
                                            <td>
                                                <% if (item['status'] === 0) { %>
                                                    <button class="btn btn-danger" title="Đã khóa">
                                                        Đã khóa <i class="fa-solid fa-circle-exclamation"></i>
                                                    </button>
                                                <% } else { %>
                                                    <button class="btn btn-success" title="Còn hoạt động">
                                                       Còn hoạt động <i class="fa-solid fa-circle-check"></i>
                                                    </button>
                                                <% } %> 
                                            </td>
                                            <td>
                                                <% if (item['status'] === 0) { %>
                                                    <button data-id="<%= item['user_id'] %>" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-unblock">
                                                        Kích hoạt tài khoản <i class="fa-solid fa-unlock"></i>
                                                    </button>
                                                <% } else { %>
                                                    <button data-id="<%= item['user_id'] %>" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-block">
                                                        Khóa tài khoản <i class="fa-solid fa-circle-xmark"></i>
                                                    </button>
                                                <% } %> 
                                             
                                            </td>
                                        </tr>

                                    <%  }) %>
        
                                <%  } else { %>
                                
                                    <tr>
                                        <th>Chưa có nhân viên nào!</th>
                                    </tr>
                                    
                                <% } %> 
                            </tbody>
                        </table>
                        
                        <%- pagination %> 

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Close admin-wrapper -->
</div>

<!-- Modal Confirm UnBlock -->
<div class="modal fade" id="modal-unblock" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kích hoạt tài khoản nhân viên?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc muốn kích hoạt tài khoản này không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger btn-confirm-unblock">Kích hoạt</button>
        </div>
      </div>
    </div>
</div>


<!-- Modal Confirm Block -->
<div class="modal fade" id="modal-block" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Khóa tài khoản nhân viên?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc muốn khóa tài khoản này không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger btn-confirm-block">Khóa</button>
        </div>
      </div>
    </div>
</div>

    <%- include('../footer') %>

    <script>
        const modalUnBlock = document.getElementById('modal-unblock')
        const modalBlock = document.getElementById('modal-block')
        const btnConfirmUnBlock = document.querySelector('.btn-confirm-unblock')
        const btnConfirmBlock = document.querySelector('.btn-confirm-block')

        // unblock
        modalUnBlock.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget
        
            const staffId = button.getAttribute('data-id')

            btnConfirmUnBlock.setAttribute('data-id', staffId)

        })

        btnConfirmUnBlock.addEventListener('click', function() {
            const staffId = this.getAttribute('data-id')
            callApiUnBlockStaff(staffId)

        })

        //  block
        modalBlock.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget
            const staffId = button.getAttribute('data-id')
            btnConfirmBlock.setAttribute('data-id', staffId)
        })

        btnConfirmBlock.addEventListener('click', function() {
            const staffId = this.getAttribute('data-id')
            callApiBlockStaff(staffId)

        })

        function callApiUnBlockStaff(userId) {
            $.ajax({
                url: `/api/v1/user/${userId}/status`,
                type: 'put',
                data: {
                    status: 1
                },
                dataType: 'json',
                success: function(result) {
                    console.log(result)
                    if (result.status == 'success') {
                        alert('Kích hoạt tài khoản thành công!')
                        location.reload()
                    } else {
                        alert('Thất bại')
                    }
                }
            })
        }

        function callApiBlockStaff(userId) {
            $.ajax({
                url: `/api/v1/user/${userId}/status`,
                type: 'put',
                data: {
                    status: 0
                },
                dataType: 'json',
                success: function(result) {
                    console.log(result)
                    if (result.status == 'success') {
                        alert('Khóa tài khoản thành công!')
                        location.reload()
                    } else {
                        alert('Thất bại')
                    }
                }
            })
        }

    </script>

</body>
</html>