    
    <%- include('../header') %>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Nhân viên</h5>
                        <% if (error && error != '' && error.length > 0) { %>

                            <div class="alert alert-block alert-danger active">
                                <p><%= error %></p>
                            </div>
    
                        <% } %> 
                        <% if (success && success != '' && success.length > 0) { %>
    
                            <div class="alert alert-block alert-success active">
                                <p><%= success %></p>
                            </div>
    
                        <% } %> 
                    </div>
                   
                    <div class="card-body">
                        <div>
                            <a href="/nhanlaptop-admin/staff/create" class="btn btn-primary mb-2">Thêm nhân viên</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã User</th>
                                    <th>Email</th>
                                    <th>Họ và tên</th>
                                    <th>Quyền</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (data.length > 0) {  %>

                                <%    let role = ['Khách hàng', 'Chưa có', 'Nhân viên'] %>
                                
                                <%    data.forEach((item, index) => { %>

                                        <tr>
                                            <td class="text-center"><%= ++index %> </td>
                                            <th><%= item['user_id'] %></th>
                                            <td><%= item['email'] %></td>
                                            <td><%= item['full_name'] %></td>
                                            <td><%= role[item['role']] %></td>
                                            <td><button data-id="<%= item['user_id'] %>" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete">Delete</button></td>
                                        </tr>

                                    <%  }) %>
        
                                <%  } else { %>
                                
                                    <tr>
                                        <th>Chưa có khách hàng nào!</th>
                                    </tr>
                                    
                                <% } %> 
                            </tbody>
                        </table>
                        
                        <%- pagination %> 

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Close admin-wrapper -->
</div>

<!-- Modal Confirm Delete -->
<div class="modal fade" id="modal-delete" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa nhân viên?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc muốn xóa nhân viên này không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger btn-confirm-delete">Xóa</button>
        </div>
      </div>
    </div>
</div>

    <%- include('../footer') %>

    <script>
        const modalDelete = document.getElementById('modal-delete')
        const btnConfirmDelete = document.querySelector('.btn-confirm-delete')

        modalDelete.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget
        
            const categoryId = button.getAttribute('data-id')

            btnConfirmDelete.setAttribute('data-id', categoryId)

        })

        btnConfirmDelete.addEventListener('click', function() {
            const categoryId = this.getAttribute('data-id')
            callApiDeleteStaff(categoryId)

        })

        function callApiDeleteStaff(userId) {
        $.ajax({
            url: `/api/v1/user/${userId}`,
            type: 'delete',
            dataType: 'json',
            success: function(result) {
                console.log(result)
                if (result.status == 'success') {
                    alert('Đã xóa thành công')
                    location.reload()
                } else {
                    alert('Thất bại')
                }
            }
        })
    }

    </script>

</body>
</html>