    
    <%- include('./header') %>

    <div class="container-cart-detail">
        <div class="cart-detail-content">
            <div class="header">
                <h5 class="card-title">Chi tiết đơn hàng</h5>
                <i class="btn-close"></i>
            </div>
            <div class="body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody id="cart-detail-tbody">

                    </tbody>
                </table>
            </div>
            <div class="footer">
                <h6 class="card-title"></h6>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Đơn hàng</h5>
                    </div>
                    <div class="card-body cart-page">
                        <table class="table cart">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Người nhận</th>
                                    <th>SĐT</th>
                                    <th>Email</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày mua</th>
                                    <th>Tổng tiền</th>
                                    <th>Tình trạng</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (dataCart.length > 0) {  %>
                                <%    let status = ['Đang chờ xử lý', 'Đã tiếp nhận', 'Đang vận chuyển', 'Đã giao hàng'] %>
                                <%    dataCart.forEach((item, index) => { %>

                                    <tr class="order-status-<%= item['status'] %>">
                                                <td class="text-center"><%= ++index %> </td>
                                                <th><%= item['cart_id'] %></th>
                                                <td><%= item['full_name'] %></td>
                                                <td><%= item['phone_number'] %></td>
                                                <td><%= item['email'] %></td>
                                                <td><%= item['address'] %></td>
                                                <td><%= helper.formatDate(item['created_at']) %></td>
                                                <td class="text-center"><%= helper.formatPrice(item['total']) %>đ</td>
                                                <td><%= status[item['status']] %></td>
                                                <td><button data-id="<%= item['cart_id'] %>" class="btn btn-show-cart-detail"><i class="fa-solid fa-eye"></i></button></td>
                                            </tr>

                                    <%  }) %>
        
                                <%  } else { %>
                                
                                    <tr>
                                        <th>Bạn chưa có đơn hàng nào!</th>
                                    </tr>
                                    
                                <% } %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Close admin-wrapper -->
</div>
<script>
    const btnShowCartDetail = document.querySelectorAll('.btn-show-cart-detail')
    const containerCartDetail = document.querySelector('.container-cart-detail')
    const cartDetailBody = document.getElementById('cart-detail-tbody')
    const btnClose = containerCartDetail.querySelector('.btn-close')

    const footerCartDetailElement = document.querySelector('.cart-detail-content .footer .card-title')
  

    btnShowCartDetail.forEach((btn) => {
        btn.addEventListener('click', function() {
            const cartId = this.getAttribute('data-id')
            handleGetCartInfo(cartId)
            containerCartDetail.classList.add('active')
        })
    })

    btnClose.addEventListener('click', function() {
        containerCartDetail.classList.remove('active')
    })


    function handleGetCartInfo(cartId) {
        $.ajax({
            url: `/api/v1/cart/${cartId}`,
            type: 'get',
            dataType: 'json',
            success: function(result) {
                console.log(result)
                if (result.status == 'success') {
                    const arrStatus = ['Đang chờ xử lý', 'Đã tiếp nhận', 'Đang vận chuyển', 'Đã giao hàng']
                    let html = ``;
                    const data = result.data
                    data.forEach((item, index) => {
                        let totalItem = new Intl.NumberFormat('de-DE').format(item['total_item'])
                        html += `<tr>
                                    <td>${++index}</td>
                                    <td>${item.product_id}</td>
                                    <td>${item.name}</td>
                                    <td><img src="${item.thumbnail}"/></td>
                                    <td>${item.quantity}</td>
                                    <td>${totalItem}đ</td>
                                </tr>`
                    })
                    footerCartDetailElement.innerText = `Tình trạng: ${arrStatus[result.statusCart]}`
                    cartDetailBody.innerHTML = html
                } else {
                    alert('Thất bại!')
                }
            }
        })
    }

</script>
<%- include('./footer') %>

</body>
</html>