<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <%- include('../partials/header') %>
   
    <div class="main">
        <div class="auth">
            <div class="container">
                <div style="width: 500px; margin: 0 auto">
                    <h1 class="auth-heading">Bạn quên mật khẩu?</h1>
                    <% if (error && error != '' && error.length > 0) { %>

                        <div class="alert alert-block alert-danger active">
                            <p><%= error %></p>
                        </div>

                    <% } %> 
                    <% if (success && success != '' && success.length > 0) { %>

                        <div class="alert alert-block alert-success active">
                            <p><%= success %></p>
                        </div>

                    <% } %> 
                </div>
                <div class="login">
                    <form id="form-reset" action="" method="POST">
                        <p class="message-request">
                            Hãy điền email tài khoản của bạn, chúng tôi sẽ gửi mật khẩu mới đến email.
                        </p>
                        <div class="form-group">
                            <div class="wrapper-input">
                                <label for="input-email" class="auth-icons fas fa-envelope"></label>
                                <input required name="email" id="input-email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <span class="form-message"></span>
                        </div>
                        <button class="btn btn-submit" type="submit">Reset password</button>
                    </form>
                </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
    <script type="module">
        import { isEmail, isValidName, removeDuplicateSpaceAndTrim, handleUpperCaseFirstLetter } from '/js/validate.js';

        const formResetElement = document.getElementById('form-reset')
        const emailInputElement = document.getElementById('input-email')
        
        function validateIsEmail(selector) {
            const emailInputElement = document.getElementById(selector)
            const email = emailInputElement.value

            const  formGroupEmail = emailInputElement.parentElement.parentElement
            let messageElement = formGroupEmail.querySelector('.form-message')
            if (!isEmail(email)) {
                formGroupEmail.classList.add('error')
                messageElement.innerText = 'Email không hợp lệ!'
                return false
            } else {
                formGroupEmail.classList.remove('error')
                messageElement.innerText = ''
                return true
            }
        }

        emailInputElement.addEventListener('blur', function() {
            validateIsEmail('input-email')
        })

        
        formResetElement.addEventListener('submit', function(e) {

            const isValidEmail = validateIsEmail('input-email')

            if (!isValidEmail) {
                e.preventDefault()
            } 
        })
        
    </script>
</body>
</html>

