<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <%- include('../partials/header') %>
   
    <div class="main">
        <div class="auth">
            <div class="container">
                <div style="width: 500px; margin: 0 auto">
                    <h1 class="auth-heading">Đặt lại mật khẩu</h1>
                    <% if (error && error != '' && error.length > 0) { %>

                        <div class="alert alert-block alert-danger active">
                            <p><%= error %></p>
                        </div>

                    <% } %> 
                    <% if (success && success != '' && success.length > 0) { %>

                        <div class="alert alert-block alert-success active">
                            <p><%= success %></p>
                        </div>

                    <% } %> 
                </div>
                <div class="login">
                    <form id="form-reset" action="/auth/reset-password" method="POST">
                        <input type="hidden" name="code" value="<%= code %>">
                        <div class="form-group">
                            <div class="wrapper-input">
                                <label for="input-password" class="auth-icons fas fa-lock"></label>
                                <input required name="password" id="input-password" type="password" class="form-control" autocomplete="on" placeholder="Mật khẩu">
                            </div>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <div class="wrapper-input">
                                <label for="input-confirm-password" class="auth-icons fas fa-lock"></label>
                                <input required id="input-confirm-password" type="password" class="form-control" autocomplete="on" placeholder="Nhập lại mật khẩu">
                            </div>
                            <span class="form-message"></span>
                        </div>
                        <button class="btn btn-submit" type="submit">Xác nhận</button>
                    </form>
                </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
    
    <script type="module">
        import { isEmail, isValidName, removeDuplicateSpaceAndTrim, handleUpperCaseFirstLetter } from '/js/validate.js';

        const formResetElement = document.getElementById('form-reset')
        const passwordInputElement = document.getElementById('input-password')
        const confirmPasswordInputElement = document.getElementById('input-confirm-password')

       
        function validateConfirmPassword() {
            const password = passwordInputElement.value
            const confirmPassword = confirmPasswordInputElement.value

            let isEquals = true

            if (confirmPassword) {
                isEquals = password == confirmPassword
            }

            let formGroupConfirmPassword = confirmPasswordInputElement.parentElement.parentElement
            let messageElement = formGroupConfirmPassword.querySelector('.form-message')

            if (!isEquals) {
                formGroupConfirmPassword.classList.add('error')
                messageElement.innerText = 'Mật khẩu nhập lại không khớp!'
                return false
            } else {
                formGroupConfirmPassword.classList.remove('error')
                messageElement.innerText = ''
                return true
            }
        }

        confirmPasswordInputElement.addEventListener('blur', function() {
            validateConfirmPassword()
        })

        passwordInputElement.addEventListener('blur', function() {
            validateConfirmPassword()
        })

        formResetElement.addEventListener('submit', function(e) {
            const password = passwordInputElement.value
            const confirmPassword = confirmPasswordInputElement.value

            const isValidconfirmPassword = validateConfirmPassword()
            if (!isValidconfirmPassword) {
                e.preventDefault()
            } 
        })
        
    </script>
</body>
</html>

